// About me
.page-aboutme {
	// background-color: grey(lighter);
	// background: 
	// linear-gradient(135deg, grey(lighter) 25%, transparent 25%) -100px 0,
	// linear-gradient(225deg, grey(lighter) 25%, transparent 25%) -100px 0,
	// linear-gradient(315deg, grey(lighter) 25%, transparent 25%),
	// linear-gradient(45deg, grey(lighter) 25%, transparent 25%);	
	// background-size: 40px 40px;

	
}
.aboutme-card {
	@include breakpoint(lg) {
		display: flex;
		// flex-direction: column;
		// height: 60vh;
	}
	.aboutme-description {
		flex: 2 2 60%;
		align-self: flex-start;
		background-color: rgba($white, 0.7);
		@include breakpoint(sm) {
			margin-right: 3em;
			padding-left: 2em;
			padding-right: 2em;
		}
		.card-cta {
			margin-top: 3em;
			margin-bottom: 2em;
		}
	}
	.aboutme-info {
		flex: 1 1 40%;
		align-self: flex-end;
		background-color: rgba($white, 0.7);
		@include breakpoint(sm) {
			padding-left: 2em;
			padding-right: 2em;
		}
	}
}
.aboutme-details {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 2em;
	li {
		display: flex;
		justify-content: space-between;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		border-bottom: 1px dotted grey(medium);
		&:last-child {
			border-bottom: 0;
		}
	}
}